* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    width: 400px;
    min-width: 400px;
    padding: 30px;
    background-image: url("../assets/Frame\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
}
.container img {
    margin-left: 120px
}

.container:hover {
    box-shadow: 0 4px 15px inset rgb(0 0 0 / 61%);  
}

h1 {
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #f8ebb7;
    color: #000000;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
}

input[type="radio"] {
    width: auto;
    margin-right: 10px;
    margin-top: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    background-color: #fae695;;
    outline: none;
}
button[type="submit"] {
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #ffcb05;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ff9900;
}

button[type="submit"]:active {
    background-color: #cc7a00;
}

.radio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio-label {
    color: #ccc;
    font-size: 14px;
}

.hidden {
    display: none;
}

.auth-switch {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

.auth-switch a {
    color: #ffcb05;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.auth-switch a:hover {
    color: #ff9900;
}